# vim: ft=toml

[branch]
sort = "-committerdate"

[branch "main"]
rebase = true

[branch "master"]
rebase = true

[column]
ui = "auto"

[commit]
gpgSign = false
verbose = true

[core]
pager = "{{ lookPath "hunk" | default "hunk" }} pager"

[delta]
features = "{{- template "theme" . -}}"
navigate = true
line-numbers = true
side-by-side = false
hyperlinks = true
file-decoration-style = "blue ul"
hunk-header-decoration-style = "blue box"
whitespace-error-style = "22 reverse"

{{ includeTemplate "git-delta-theme" . -}}
[diff]
algorithm = "histogram"
colorMoved = "plain"
mnemonicPrefix = true
renames = true

[diff "jupytext"]
textconv = "jupytext --to=markdown --output=-"

[fetch]
all = true
prune = true
pruneTags = true

[filter "lfs"]
clean = "git-lfs clean -- %f"
process = "git-lfs filter-process"
required = true
smudge = "git-lfs smudge -- %f"

[ghq]
root = ~/repos

[gpg]
format = "openpgp"

[gpg "openpgp"]
program = "gpg"

[help]
autocorrect = "prompt"

[init]
defaultBranch = "main"

[merge]
conflictstyle = "zdiff3"

[pull]
rebase = true

[push]
autoSetupRemote = true
default = "simple"
followTags = true

[rebase]
autoSquash = true
autoStash = true
updateRefs = true

[rerere]
autoupdate = true
enabled = true

[tag]
gpgSign = false
sort = "version:refname"

[user]
email = "{{ .email }}"
name = "{{ .name }}"
signingKey = "0x807BC3355DA0F069"

{{ if get . "githubEmail" }}
[includeIf "gitdir:~/repos/github.com/"]
    path = ~/.config/git/github.gitconfig

[includeIf "gitdir:~/.local/share/chezmoi/"]
    path = ~/.config/git/github.gitconfig

[includeIf "gitdir:/opt/homebrew/Library/Taps/elohmeier/homebrew-tap/"]
    path = ~/.config/git/github.gitconfig

[includeIf "gitdir:/home/linuxbrew/.linuxbrew/Homebrew/Library/Taps/elohmeier/homebrew-tap/"]
    path = ~/.config/git/github.gitconfig

[includeIf "gitdir:~/Sync/"]
    path = ~/.config/git/github.gitconfig
{{ end }}

[include]
    path = ~/.config/git/local.gitconfig
