{{- if not .enableEmail }}
# Email client configuration
.config/aerc
.config/pizauth.conf
{{- end }}

{{- if not .isWSL }}
# WSL-specific scripts
.local/bin/wl-copy
.local/bin/wl-paste
.local/bin/wsl-clipboard-debug
.chezmoiscripts/run_onchange_before_install-packages-wsl.sh
{{- end }}
