{{ if ne .chezmoi.os "darwin" }}
Applications/Firefox.app
.chezmoiscripts/darwin/**
{{ end -}}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end -}}

{{ if not .isWSL }}
.chezmoiscripts/wsl/**
.local/bin/wl-copy
.local/bin/wl-paste
.local/bin/wsl-clipboard-debug
.local/share/applications/windows-explorer-wsl.desktop
{{- end }}

{{ if not .enableEmail }}
.config/aerc/**
.config/pizauth.conf
{{- end }}

{{ if not (lookPath "fish") }}
.config/fish/**
{{- end }}

{{ if not (lookPath "claude") }}
.claude/**
{{- end }}

{{ if not (lookPath "codex") }}
.codex/**
{{- end -}}

{{ if not (and (index . "pushoverUserKey") (index . "pushoverApiToken")) }}
.local/bin/agent-pushover-notify
{{- end }}
