encryption = "age"

[age]
    identity = "{{ .chezmoi.homeDir }}/Library/Application Support/sops/age/keys.txt"
    recipient = "age1e6gdd6c0nf5p47jhcq8dvrcyu4vmrzvg2kd75thsgyl7pzqemunq9mfl7e"

[data]
    email = "enno@nerdworks.de"
    displayConfig = {{ output (joinPath .chezmoi.sourceDir ".." "scripts" "get-display-config.sh") | quote }}

[secret]
    command = "{{ joinPath .chezmoi.sourceDir ".." "scripts" "chesops.sh" }}"
