{{- if eq .chezmoi.os "darwin" }}
{{-   with lookPath "pinentry-mac" -}}
pinentry-program {{ . }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   range $cmd := list "pinentry-gnome3" "pinentry-qt" "pinentry-curses" }}
{{-     with lookPath $cmd -}}
pinentry-program {{ . }}
{{-       break -}}
{{-     end }}
{{-   end }}
{{- end }}
default-cache-ttl 600
max-cache-ttl 7200
{{- if eq .chezmoi.os "linux" }}
{{-   with lookPath "gpgconf" }}
scdaemon-program {{ joinPath (output . "--list-dirs" "libexecdir" | trim) "scdaemon" }}
{{-   end }}
{{- end }}
