#!/bin/sh
# package sources:
{{ range glob (joinPath .chezmoi.sourceDir "../scripts/**/*.py") -}}
# {{ base . }}: {{ include . | sha256sum }}
{{ end -}}
# metadata: {{ include "../pyproject.toml" | sha256sum }} {{ include "../uv.lock" | sha256sum }}

set -e
uv="{{ lookPath "uv" }}"
requirements="$("{{ lookPath "mktemp" }}")"
"$uv" export --project "{{ .chezmoi.sourceDir }}/.." --frozen --no-dev --no-emit-project --output-file "$requirements" >/dev/null
"$uv" tool install --force --constraints "$requirements" "{{ .chezmoi.sourceDir }}/.."
"{{ lookPath "rm" }}" "$requirements"
# required by jupytext.nvim plugin to convert .ipynb files
"$uv" tool install --upgrade jupytext
