{{- $bat := lookPath "bat" -}}
#!/bin/sh
# Rebuild bat cache when themes change
# Hash: {{ include (printf "dot_config/bat/themes/%s.tmTheme" (includeTemplate "theme" .)) | sha256sum }}

{{ if $bat -}}
"{{ $bat }}" cache --build >/dev/null
{{ else -}}
exit 0
{{ end -}}
