{{- if eq .chezmoi.os "darwin" }}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
{{- end }}

Include ~/.ssh/config.local

Host *
    ForwardAgent no
    AddKeysToAgent yes
{{- if .secretiveAvailable }}
    IdentityAgent {{ .secretiveSocketPath }}
{{- end }}

{{ if stat "/usr/lib64/pkcs11/libtpm2_pkcs11.so" -}}
Host github.com
    User git
    PKCS11Provider /usr/lib64/pkcs11/libtpm2_pkcs11.so
{{ end }}
Host docs.nn42.de
    IdentityFile ~/.ssh/mb4_id_ed25519

Host storagebox-backup
    HostName u267169.your-storagebox.de
    User u267169-sub2
    Port 23
    IdentityFile {{ .chezmoi.homeDir }}/.ssh/nwbackup.id_ed25519
    IdentitiesOnly yes
