# vim: set syntax=bash

# Hint: Reload the config using Cmd+Shift+,

theme = {{ template "theme" . }}
unfocused-split-opacity = 0.8

font-family = {{ .ghosttyFontFamily }}
font-size = {{ .ghosttyFontSize }}

font-synthetic-style = false

copy-on-select = true

# Aerospace compat
# resize-overlay = never

# keybind = global:cmd+grave_accent=toggle_quick_terminal

scrollback-limit = 4294967295

# Use Fish shell
shell-integration = fish
{{ with lookPath "fish" -}}
command = {{ . }} --login --interactive
{{- end }}
