# vim: set syntax=bash

# Hint: Reload the config using Cmd+Shift+,

theme = {{ template "theme" . }}
unfocused-split-opacity = 0.8

font-family = Spleen 6x12
font-size = 12

# font-family = Spleen 8x16
# font-size = 16

font-synthetic-style = false

copy-on-select = true

# Aerospace compat
# resize-overlay = never

# keybind = global:cmd+grave_accent=toggle_quick_terminal

scrollback-limit = 4294967295

# Use Fish shell
shell-integration = fish
{{ if eq .chezmoi.os "darwin" -}}
command = /opt/homebrew/bin/fish --login --interactive
{{- else if eq .chezmoi.os "linux" -}}
command = /home/linuxbrew/.linuxbrew/bin/fish --login --interactive
{{- end }}
