# vim: set syntax=bash

# Hint: Reload the config using Cmd+Shift+,

#theme = light:tokyonight-day,dark:tokyonight
theme = light:GitHub Light Default,dark:GitHub Dark Default
unfocused-split-opacity = 0.8

{{ if eq .displayConfig "external" }}
# Dell (Home)
# font-family = Spleen 8x16
# font-size = 16
font-family = Spleen 6x12
font-size = 12
{{ else if eq .displayConfig "external-lores" }}
# Dell P2414H (Winsen)
font-family = Spleen 6x12
font-size = 12
{{ else if eq .displayConfig "internal" }}
# MacBook (mobile)
font-family = IBM Plex Mono
font-size = 12
{{ end }}

{{ if eq .displayConfig "external" "external-lores" }}
# enable this for Spleen fonts (disable e.g. bold style)
font-synthetic-style = false
{{ end }}

copy-on-select = true

# Aerospace compat
# resize-overlay = never

# keybind = global:cmd+grave_accent=toggle_quick_terminal

scrollback-limit = 4294967295

# Use Fish shell
shell-integration = fish
{{ if eq .chezmoi.os "darwin" -}}
command = /opt/homebrew/bin/fish --login --interactive
{{- else if eq .chezmoi.os "linux" -}}
command = /home/linuxbrew/.linuxbrew/bin/fish --login --interactive
{{- end }}
