#!/bin/sh
# Install Firefox policy file for Flatpak Firefox
# hash: {{ include ".chezmoitemplates/firefox-policies" | sha256sum }}

if flatpak list 2>/dev/null | grep -q org.mozilla.firefox; then
    DEST="$HOME/.local/share/flatpak/extension/org.mozilla.firefox.systemconfig/x86_64/stable/policies"
    mkdir -p "$DEST"
    chezmoi execute-template '{{ template "firefox-policies" . }}' > "$DEST/policies.json"
fi
