{{- if and (lookPath "apk") (lookPath "lbu") -}}
#!/bin/sh

case "$(tr -d '\0' </proc/device-tree/model 2>/dev/null)" in
    "Raspberry Pi "*) ;;
    *) exit ;;
esac
[ "$(stat -f -c %T /)" = tmpfs ] || exit

cat >/etc/init.d/device-hostname <<'EOF'
#!/sbin/openrc-run

description="Sets a Raspberry Pi hardware-specific hostname"

depend() {
    after hostname
    before networking
}

start() {
    serial=$(tr -d '\0' </proc/device-tree/serial-number)
    hostname="rpi-$(printf '%s' "$serial" | tail -c 8)"
    ebegin "Setting hostname to $hostname"
    hostname "$hostname"
    eend $?
}
EOF
chmod +x /etc/init.d/device-hostname
lbu include /etc/init.d/device-hostname
rc-update add device-hostname boot
rc-service device-hostname start
{{- end }}
