# vim: set filetype=nix:
{
  inputs = {
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    nixpkgs.url = "github:NixOS/nixpkgs";
  };

  outputs =
    {
      self,
      home-manager,
      nixpkgs,
    }:
    {
      homeConfigurations.{{ .chezmoi.username }} = home-manager.lib.homeManagerConfiguration {
        pkgs = import nixpkgs {
          system = "x86_64-linux";

          config = {
            allowUnfree = true;
          };
        };

        modules = [
          (
            { config, pkgs, ... }:
            {
              home = {
                username = "{{ .chezmoi.username }}";
                homeDirectory = "{{ .chezmoi.homeDir }}";
                stateVersion = "24.05";

                packages = [
                  (pkgs.sqlite.override { interactive = true; })
                  pkgs.apacheKafka
                  pkgs.bash-language-server
                  pkgs.bat
                  pkgs.chezmoi
                  pkgs.conftest
                  pkgs.delta
                  pkgs.deno
                  pkgs.diceware
                  pkgs.dprint
                  pkgs.entr
                  pkgs.eza
                  pkgs.fd
                  pkgs.fish
                  pkgs.fzf
                  pkgs.ghq
                  pkgs.git
                  pkgs.gnupg
                  pkgs.gopls
                  pkgs.grizzly
                  pkgs.grpcurl
                  pkgs.helm-ls
                  pkgs.home-manager
                  pkgs.imagemagick
                  pkgs.influxdb
                  pkgs.jless
                  pkgs.jq
                  pkgs.jsonnet-bundler
                  pkgs.k9s
                  pkgs.kubernetes-helm
                  pkgs.kubeseal
                  pkgs.kustomize
                  pkgs.kyverno
                  pkgs.lazygit
                  pkgs.miller
                  pkgs.ncdu
                  pkgs.neovim
                  pkgs.nixfmt-rfc-style
                  pkgs.openshift
                  pkgs.openssh
                  pkgs.pass
                  pkgs.postgresql_16
                  pkgs.pyright
                  pkgs.python312
                  pkgs.ripgrep
                  pkgs.ruff
                  pkgs.s3cmd
                  pkgs.shellcheck
                  pkgs.shfmt
                  pkgs.telegraf
                  pkgs.thanos
                  pkgs.tmux
                  pkgs.uv
                  pkgs.vector
                  pkgs.yaml-language-server
                  pkgs.yazi
                  pkgs.yq-go
                  pkgs.zoxide
                ];

              };

              # home.sessionPath = [ "${config.home.homeDirectory}/.local/bin" ];
              # home.sessionVariables = {
              #   # workaround WSL missing dir issue
              #   XDG_RUNTIME_DIR = "/tmp/run_user_1000";
              #   SSH_AUTH_SOCK = "/tmp/run_user_1000/ssh-agent";
              # };
              # programs.fish.interactiveShellInit = ''
              #   mkdir -p /tmp/run_user_1000
              #   # no user systemd available in wsl
              #   if not pgrep -u (id -un) ssh-agent > /dev/null
              #       ${pkgs.openssh}/bin/ssh-agent -a "$XDG_RUNTIME_DIR/ssh-agent" > /dev/null
              #   end
              # '';
              # programs.gpg.enable = true;
              # services.gpg-agent = {
              #   enable = true;
              #   pinentryPackage = pkgs.pinentry-curses;
              # };
            }
          )
        ];
      };
    };
}

