{{- $map := dict
    "tokyonight_day" "TokyoNightDay"
    "tokyonight_night" "TokyoNightNight"
    "cyberdream" "Vesper"
    "cyberdream_light" "GithubLightDefault"
-}}
{{- $theme := includeTemplate "theme" . -}}
theme = "{{ index $map $theme }}"
show_table_borders = true
show_table_row_numbers = true
