{{- $theme := includeTemplate "theme" . -}}
{{- $skin := index (dict "tokyonight_day" "tokyonight_day" "tokyonight_night" "tokyonight_storm" "cyberdream_light" "cyberdream-light" "cyberdream" "cyberdream") $theme -}}
# vim: ft=yaml
k9s:
  ui:
    skin: '{{ $skin }}'
