# Universal opt-out (consoledonottrack.com)
set -gx DO_NOT_TRACK 1

# Telemetry kill-switches
set -gx STORYBOOK_DISABLE_TELEMETRY true
set -gx NEXT_TELEMETRY_DISABLED 1
set -gx GATSBY_TELEMETRY_DISABLED 1
set -gx DOTNET_CLI_TELEMETRY_OPTOUT 1
set -gx POWERSHELL_TELEMETRY_OPTOUT 1
set -gx HOMEBREW_NO_ANALYTICS 1
set -gx SAM_CLI_TELEMETRY 0
set -gx AZURE_CORE_COLLECT_TELEMETRY false
set -gx CHECKPOINT_DISABLE 1
set -gx INFLUXD_REPORTING_DISABLED true
set -gx ADBLOCK 1
set -gx DISABLE_OPENCOLLECTIVE 1
